<p *ngIf="error">
  Error is {{error}}
</p>

<div *ngIf="!error" >
  <div class="row">
    <div class="col-md-8">
      <h3>Status of plug </h3>
      <div *ngIf="plugIsOff" class="status status-off">
        <span ><fa name="plug"></fa></span> Plug is switched off!
      </div>

      <p *ngIf="!plugIsOff" class="status status-on">
        <span ><fa name="plug"></fa></span> Plug is switched on!
      </p>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">temperature is {{receivedData.temperature}}</div>
        <div class="col-md-12">humidity is {{receivedData.humidity}}</div>
      </div>
    </div>
    <div class="col-md-4">light is {{receivedData.light}}</div>
    <div class="col-md-4">motion is {{receivedData.motion}}</div>
    <div class="col-md-4">vdd is {{receivedData.vdd}}</div>

  </div>

</div>







<!--<p>-->
  <!--Received data is {{receivedData | json}}-->
<!--</p>-->

