.status-off fa{
    border-radius: 8px;
    background: #e9ecef;
    border: 5px solid white;
    padding: 20px;
    width: 200px;
    height: 150px;
    box-shadow: 5px 5px 11px #e9ecef;
}

.status {
    height: 50px;
    margin: 30px 0 30px 0;
}

.status-on fa{
    border-radius: 8px;
    background: #28a745;
    border: 5px solid white;
    padding: 20px;
    width: 200px;
    height: 150px;
    box-shadow: 5px 5px 11px #e9ecef;
}



