<app-layout>
  <div class="jumbotron">
    <h1>Welcome to {{ title }}!</h1>
    <p>
      Refresh the page to check if someone's home and needs light!
    </p>
  </div>
  <app-payload-converter></app-payload-converter>
</app-layout>
